<section class="threetransferdownload">
  <v-row class="my-3 mx-1">
    <v-card style="width: 100%;">
      <v-card-title primary-title class="primary py-3 mb-5 white--text">
        <v-row>
          <v-col cols="6" class="py-0">
            <v-icon small color="white" left>fas fa-server</v-icon>
            Threetransfer -- Download
          </v-col>
          <v-col></v-col>
          <v-col cols="4" class="py-0">
            </v-text-field>
          </v-col>
        </v-row>
      </v-card-title>
      <v-card-text>
        <v-row>
            Trying to download {{identifier}}
        </v-row>
        <!-- <v-row v-if="downloadError">
          {{downloadError}}
        </v-row> -->

      </v-card-text>
    </v-card>
    </v-flex>
  </v-row>
</section>