<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/weblibs/bootstrap4/bootstrap.min.css">

    <link rel="stylesheet" href="/staticwiki/home/css/fonts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<!-- Custom CSS -->
<link rel="stylesheet" href="/staticwiki/home/css/style.css">
</head>

<body>
    <div class="intro">
        <div class="container">
            <div class="intro-text justify-content-center">
                <div class="row">
                    <div class="col-sm">
                        <img src="/staticwiki/home/img/3BOT - ROBOT.png" alt="3Bot">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm text-center">
                        <h1>Wikis</h1>
                        <ul>
                            {% for wiki in wiki_names %}
                            <li>
                                <div class="card">
                                    <i id="spinner_{{wiki.replace('.', '_')}}" class="fa fa-circle-o-notch fa-spin"
                                        style="font-size:42px; display: none;"></i>
                                    <div class="card-body">
                                        <h5 class="card-title">{{wiki}}</h5>
                                        <div class="row">
                                            <a href="/wiki/{{wiki}}">View</a>
                                            <a class="reload-button" onclick="reloadWiki('{{wiki}}')">Reload</a>
                                            <a class="reload-button" onclick="pullWiki('{{wiki}}')">Pull</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="/weblibs/jquery/jquery.slim.min.js"></script>
    <script src="/weblibs/popper/popper.min.js"></script>

    <!-- Bootstrap JavaScript -->
    <script src="/weblibs/bootstrap4/bootstrap.min.js"></script>

    <script src="/weblibs/gedis/gedis_package.js"></script>
    <script src="/staticwiki/wiki/js/dynamic_content.js"></script>
    <script src="/staticwiki/wiki/js/reload.js"></script>

</body>

</html>
