<section class="threetransfer">
  <v-row class="my-3 mx-1">
    <v-card style="width: 100%;">
      <v-card-title primary-title class="primary py-3 mb-5 white--text">
        <v-row>
          <v-col cols="6" class="py-0">
            <v-icon small color="white" left>fas fa-server</v-icon>
            Threetransfer -- Send
          </v-col>
          <v-col></v-col>
          <v-col cols="4" class="py-0">
            </v-text-field>
          </v-col>
        </v-row>
      </v-card-title>
      <v-card-text class="fill-height">
        <v-row>
          <!-- <v-col cols="4">
            <h2>Download file</h2>
            <v-text-field v-model="downloadUUID" label="UUID to download"></v-text-field>
            <v-btn v-on:click="downloadFile()">Download</v-btn>
          </v-col> -->
          <v-col cols="8">
            <h2>Upload file</h2>
            <v-row>
              <label>File
                <input type="file" id="file" ref="file" v-on:change="handleFileUpload()" />
              </label>
              <v-btn v-on:click="submitFile()">Submit</v-btn>
            </v-row>
            <v-row>
              <v-col cols="4">
                <v-row v-for="item in uploadMessages" :class="item.color">
                  - {{item.message}}
                </v-row>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
    </v-flex>
  </v-row>
</section>