@import url('https://fonts.googleapis.com/css?family=Cabin');

* {
	margin: 0;
	padding: 0;
}

@keyframes fadeIn{
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeOut{
	from {opacity: 1;}
	to {opacity: 0;}
}

@keyframes scaleUp{
	from {transform: scale(1.0)}
	from {transform: scale(1.5)}
}

@keyframes spin{
	from {transform: translate(-50%,-31%) rotate(0deg);} 
	to {transform: translate(-50%,-31%) rotate(1080deg);}
}

@keyframes slideFromLeft{
	from {left: -30%;}
	to {left: 50%; transform: translate(-50%, 0);}
}

@keyframes slideFromRight{
	from {right: -30%;}
	to {right: 50%; transform: translate(+50%, 0);}
}

@keyframes slideUp{
	from {bottom: 50%;}
	to {bottom: 120%;}
}

@keyframes slideDown{
	from {top: 50%;}
	to {top: 120%;}
}

#loader1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-31%);
	animation-fill-mode: forwards;
	width: 52px;
	height: 89px;
	opacity: 0;
	z-index: 3;
	background-color: white;
	-webkit-mask: url(http://browser.threefold.io/img/jimber/loader.svg) no-repeat center;
	-webkit-mask-size: 100% 100%;
	transform-origin: 50% 69%;
	animation: fadeIn 2s 1s forwards, spin 800ms ease-in-out 3s infinite;
}

#logotype {
	position: absolute;
	bottom: 50%;
	right: 0%;
	transform: translate(100%, 0%);
	width: 250px;
	height: 89px;
	z-index: 3;
	background-color: white;
	-webkit-mask: url(http://browser.threefold.io/img/jimber/logotype.svg) no-repeat center;
	-webkit-mask-size: 100% 100%;
}

#slogan {
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(-100%, 0%);
	width: 250px;
	height: 30px;
	z-index: 3;
	background-color: white;
	-webkit-mask: url(http://browser.threefold.io/img/jimber/slogan.svg) no-repeat center;
	-webkit-mask-size: 100% 100%;
}

#upper {
	position: absolute;
	bottom: 50%;
	left:0;
	z-index: 2;
	background-color: #2E2E2E;
	width: 100vw;
	height: 50vh;
}

#lower {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 2;
	background-color: #2E2E2E;
	width: 100vw;
	height: 50vh;
}

#watermark {
	z-index: 1;
	position: absolute;
	bottom: 50px;
	left: 70px;
	width: 11%;
	opacity: 0.8;
}

body {
	font-family: 'Cabin', sans-serif;
	background: #323232;
	text-align: center;
	font-weight: 300;
	letter-spacing: .15em;
	color: #fff;
	overflow: hidden;
	background-color: #323232;
	background-repeat: no-repeat;
	background-position: center; 

}
canvas {
	border: 0px solid #eee;
}

#container {
	z-index: 0;
}

#btn {
	
	font-weight: 300;
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: #00AAFF;
	border-radius: 10px;
	border: none;
	color: white;
	padding: 3px;
}
#btn_settings {
	font-weight: 300;
	position: fixed;
	bottom: 0;
	right: 50px;
	background-color: #00AAFF;
	border-radius: 10px;
	border: none;
	color: white;
	padding: 3px 10px 3px 10px;
}

#settings {
	display: none;
	z-index: 3;
}

#fakeinput{
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 0px;
}
#photo{
	display: none;
}
#search{
	position:absolute;
	right: 0px;
	top: 0px;
	height: 40px;
	width: 350px;
	display: none;
}