<div>
  <v-row class="pa-4 mx-1">
    <h1 class="headline pt-0 pb-1 text-uppercase">
      <span>TF</span>
      <span class="font-weight-light">cockpit</span>
      <span class="title font-weight-light">- {{$route.meta.displayName}}</span>
    </h1>
    <v-spacer></v-spacer>
    <v-menu
      v-model="menu"
      :close-on-content-click="false"
      :nudge-width="200"
      offset-x
    >
      <template v-slot:activator="{ on }">
        <v-badge overlap left v-model="showBadge" color="secondary">
          <template v-slot:badge>
            <span>1</span>
          </template>
          <v-btn text icon v-on="on">
            <v-icon>far fa-bell mr-2</v-icon>
          </v-btn>
        </v-badge>
      </template>

      <v-card>
        <v-list>
          <v-list-item>
            <v-list-item-avatar>
              <v-icon>fas fa-plus</v-icon>
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title
                >A new node wants to join your farm</v-list-item-title
              >
            </v-list-item-content>

            <v-list-item-action>
              <v-btn icon></v-btn>
            </v-list-item-action>
          </v-list-item>
        </v-list>

        <v-divider></v-divider>

        <v-list>
          <v-list-item>
            <v-list-item-title>Node Id: Lochristi34</v-list-item-title>
          </v-list-item>
          <v-list-item>
            <v-list-item-title>Node name: Lochristi Node 34</v-list-item-title>
          </v-list-item>
        </v-list>

        <v-card-actions>
          <div class="flex-grow-1"></div>

          <v-btn text @click="menu = false">Deny</v-btn>
          <v-btn color="primary" text @click="menu = false">Allow</v-btn>
        </v-card-actions>
      </v-card>
    </v-menu>
    <v-btn icon>
      <v-icon>fas fa-user-circle</v-icon>
    </v-btn>
  </v-row>
  <router-view></router-view>

  <section class="capacity">
    <v-row class="pa-2">
      <v-flex md12>
        <v-col class="pt-0">
          <v-row>
            <v-flex md3 xs6 d-flex class="pa-2 others">
              <miniGraph class="others" :value="nodeSpecs.amountregisteredNodes" title="Registered Nodes" />
            </v-flex>
            <v-flex md3 xs6 d-flex class="pa-2 others">
              <miniGraph class="others" :value="nodeSpecs.onlinenodes" title="Nodes online" />
            </v-flex>
            <v-flex md3 xs6 d-flex class="pa-2 others">
              <miniGraph class="others" :value="nodeSpecs.countries" title="Countries" />
            </v-flex>
            <v-flex md3 xs6 d-flex class="pa-2 others">
              <miniGraph class="others" :value="nodeSpecs.amountregisteredFarms" title="Farms" />
            </v-flex>
          </v-row>
          <v-row>
            <v-flex md3 xs6 d-flex class="pa-2 others">
              <miniGraph class="others" :value="nodeSpecs.cru" title="Cores online" />
            </v-flex>
            <v-flex md3 xs6 d-flex class="pa-2 others">
              <miniGraph class="others" :value="nodeSpecs.mru" append="GB" title="Memory online" />
            </v-flex>
            <v-flex md3 xs6 d-flex class="pa-2 others">
              <miniGraph
                class="others"
                :value="nodeSpecs.sru"
                append="GB"
                title="SSD Storage capacity"
              />
            </v-flex>
            <v-flex md3 xs6 d-flex class="pa-2">
              <miniGraph
                class="others"
                :value="nodeSpecs.hru"
                append="GB"
                title="HDD Storage capacity"
              />
            </v-flex>
          </v-row>
          <v-row>
            <v-flex class="ma-2 others" d-flex md4>
              <capacityMap @custom-event-input-changed="changeSelectedNode" class="others" style="width: 100%;" />
            </v-flex>
            <v-flex class="ma-2" d-flex>
              <nodesTable :searchnodes="selectedNode" style="height: 100%; width:100%;" />
            </v-flex>
          </v-row>
        </v-col>
      </v-flex>
    </v-row>
  </section>
</div>
